h1,
h2 {
  text-transform: uppercase; /*chuyển thành chữ hoa*/
  letter-spacing: 1px;
  color: #9d5a4d;
}

h1 {
  font-size: 300%;
  font-weight: 400;
  word-spacing: 5px;
  line-height: 135%;
  margin-bottom: 50px;
}

h2 {
  font-size: 170%;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

p {
  font-family: Barlow;
}

.p-main {
  text-align: left;
  font-size: 25px;
  width: 70%;
}

section {
  padding: 20px;
}

.logo {
  height: 109px;
  width: 132px;
}

header {
  background-color: #ffffff;
  font-family: Barlow;
}

main {
  background-color: #ffabab;
}

.nd {
  max-width: 1140px;
  margin: 0 auto;
}

.kol {
  width: 200px;
  position: right;
}

.main-nav {
  float: right;
  list-style-type: none;
  margin-right: 60px;
  margin-top: 70px;
  background-color: beige;
}

.main-nav li {
  display: inline-block;
  margin-right: 30px;
}

.main-nav li a {
  text-decoration: none;
  color: black;
  font-size: 120%;
  font-weight: 600;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #fef2f4;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #ba8778;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*style khối*/
.btn {
  text-decoration: none;
  color: white;
  background-color: #d8a19e;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.3s;
}

/*hiệu ứng đổi màu khi di chuột đến*/
.btn:hover,
.btn:active {
  background-color: #ba8778;
}

.container {
  text-align: center;
}

.pic {
  position: relative;
}

.pic img {
  justify-content: center; /* Canh giữa theo chiều ngang */
  width: 150px; /* Chiều rộng của container */
  border-radius: 50%;
  box-shadow: -20px -10px 0px 0px #d8a19e; /*x - y - độ mờ - độ phóng rộng - màu*/
}

.img_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  opacity: 0;
  font-weight: bold;
  text-align: center; /* Căn giữa hình ảnh và văn bản */
  margin: 0 10px; /* Tạo khoảng cách giữa mỗi cặp hình ảnh và văn bản */
}

.pic img:hover img,
.pic img:active img {
  filter: blur(2px) brightness(60%);
}
.pic img:hover,
.img_text,
.pic img:active,
.img_text {
  opacity: 1;
  transform: translate(-60% -50%);
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 10px;
}

.nav a {
    color: #000;
}

.nav-link {
    text-decoration: none;
    color: #000; /* Màu chữ mặc định */
}

.nav-link:hover{
    background-color: #000; /* Màu nền là xám nhạt khi hover */
    color: #fff; /* Màu chữ là đỏ khi hover */
}

.nav-item {
  position: relative;
}

.nav-item:hover .sub-list {
    display: block;
    width: max-content;
  }

.sub-list {
  display: none; /* Mặc định ẩn danh sách con */
  text-align: center;
  background-color: #fff;
  list-style-type: none;

  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
}

.sub-list li a {
  color: #000;
}

.sub-list li a {
  padding: 5px 10px 5px 10px;
}

.sub-list li:hover {
  background-color: #000;
}

.sub-list a:hover {
  text-decoration: none;
  color: #fff;
}
